.gradle
/.idea/
/build/
/calendar/build/
/calendar/calendar.iml
/smart-refresh/build/
/smart-refresh/smart-refresh.iml
/UdeskSDKUI/build/
/UdeskSDKUI/UdeskSDKUI.iml
/updateLib/build/
/updateLib/updateLib.iml
/zhitou-for-android.iml
local.properties
/library/library.iml
/app/app.iml
*.iml
.idea

local.properties
